@model Employee

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? null);
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>*@
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class = "col-sm-10">
            <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
